{% extends "review/base.html" %}

{% block title %} Your review {% endblock %}

{% block content %}
    <form action="/" method="POST">
        {% csrf_token %}
        {% for single_field in form %}
            <div class="form-control {% if html_form.user_name.errors %}my_errors{% endif %}">
                {{ single_field.label_tag }}
                {{ single_field }}
                {{ single_field.errors }}
            </div>
        {% endfor %}
        <button type="submit">Send</button>
    </form>
{% endblock %}

